.font {
  font-family: sans-serif;
  background-color: blue;
    color: white;
}

.btn {
  border: 1cm;
  border-radius: 1cm;
  background-color: dodgerblue;
  color: white;
  padding: 0.5cm;
  padding-left: 2cm;
  padding-right: 2cm;
  font-size: x-large;
  outline: none;
}

.btn:hover {
  background-color: royalblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
  background-color: rgb(50, 93, 223);
}

.img {
  width: 600px;
  height: 300px;
}

.toolbar {
  overflow: hidden;
  box-shadow: 5px 5px 2.5px rgb(63, 63, 63);
  background-color: yellow;
  width: auto;
  height: 60px;
  border-radius: 0.5cm;
  padding-top: 10px;
  padding-left: 10px;
}

.toolbar a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.toolbar img {
  float: left;
  width: 65px;
  padding-left: 14px;
  height: 50px;
}