body { margin: 0; z-index: 100;}
canvas { display: block; z-index: 50;}
@font-face { font-family: Glitch; src: url('fonts/Parametric\ Glitch\ Bold.ttf'); } 

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color: white;
}

#hud {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color: white;
    text-shadow: 2px 2px #ff0000;
}

.wrapper {
    text-align: center;
}

#info a {
    color: #ff0;
    text-decoration: none;
}

#info a:hover {
    text-decoration: underline;
}

.button_wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.button_wrapper a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.button_wrapper a:hover {
    background-color: #777;
}

.text_wrapper {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    font-size: xx-large;
}